{% extends "footer/base.html" %}

{% block body %}
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			
			<div class="row-fluid" style="margin-top:80px;">
				<div class="span12 centered glow"><h1>Hacksy</h1></div>
			</div>
			
			<div class="row-fluid box">
				<div class="span12 centered"><hr/><h3>Privacy Policy</h3><hr/></div>
			</div>
			

			<div class="row-fluid box">

<p>Welcome to Hacksy, the website and online service (“Service”) of Hacksy, Inc. (“Hacksy,” the “Company,” or “we”). Our Privacy Policy explains how we collect, use, disclose, and protect information that applies to our Service, and your choices about the collection and use of your information. By using the Service, you consent to the collection and use of information in accordance with this Policy.</p>
<p>We take the responsibility of having your personal information very seriously. We use your personal information only for providing and improving the Service. We treat your personal information as we would and do treat our own. Hacksy may modify or update this Privacy Policy from time to time to reflect the changes in our business and practices, and so you should review this page periodically. Your continued use of the Service following the posting of any changes to this Policy constitutes your acceptance of those changes.</p>
<h2 class="margin" style="color:orange;">Sharing Information:</h2>

<p>Hacksy will disclose your information where required to do so by law or subpoena or if we reasonably believe that such action is necessary to (i) comply with the law and the reasonable requests of law enforcement; (ii) to enforce our <a href="/terms/">Terms of Use</a> or to protect the security or integrity of our Service; and/or (iii) to exercise or protect the rights, property, or personal safety of Hacksy, our Users or others. Additionally, we report all instances of suspected child pornography to the National Centers for Missing and Exploited Children (“NCMEC”).</p>

<p>We may sell, assign or otherwise transfer user information in the course of corporate divestitures, mergers, acquisitions, bankruptcies, dissolutions, reorganizations, liquidations, similar transactions or proceedings involving all or a portion of Hacksy.</p>

<h2 class="margin" style="color:orange;">Keeping your Data Safe</h2>

<p>Hacksy provides a place for social interaction via hacks sharing and hackathon hosting. It provides you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute or broadcast (“Post”) User Content. Any User Content you Post is subject to the guidelines provided in our Terms of Use and you should note that we reserve the right to report any potentially illegal behavior on our Service to the authorities. By using our Service, you are consenting to have your image and conversations recorded by Hacksy.</p> 
<p>Hacksy cares about the security of your information, and uses commercially reasonable safeguards to preserve the integrity and security of all information collected through the Service. However, Hacksy cannot ensure or warrant the security of any information you transmit to Hacksy or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed. Your privacy settings may also be affected by changes to the functionality of third party sites. Hacksy is not responsible for the functionality or security measures of any third party.</p>
<p>In the event that any information under our control is compromised as a result of a breach of security, Hacksy will take reasonable steps to investigate the situation and where appropriate, notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.</p>

<h2 class="margin" style="color:orange;">Cookies</h2>
<p>Cookies are small pieces of information which are issued to your computer when you visit a website and which store and sometimes track information about your use of the Service. Hacksy uses cookies to help recognize you as a repeat visitor, to improve the quality of our Service, and to try and make your browsing experience meaningful. When you enter our Site, our web server sends a cookie to your computer which allows us to recognize your computer but not specifically who is using it. By associating the identification numbers in the cookies with other customer information when, for example, you log-in to the Service, then we know that the cookie information relates to you. Some of the cookies used by our Service are served by us, and some are served by third parties who are delivering services on our behalf.</p>
<h2 class="margin" style="color:orange;">Questions</h2>
<p>If you have questions or suggestions, please <a href="/contact/">contact us</a>.</p>





			</div>


		</div>
	</div>
</div>
{% endblock %}