{% extends "footer/base.html" %}

{% block body %}
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			
			<div class="row-fluid" style="margin-top:80px;">
				<div class="span12 centered glow"><h1>Hacksy</h1></div>
			</div>
			
			<div class="row-fluid box">
				<div class="span12 centered"><hr/><h3>Terms of Use</h3><hr/></div>
			</div>
			

			<div class="row-fluid box">
				<p>
                    Please read these Terms of Use carefully before using the services offered by Hacksy, Inc. This agreement sets forth the legally binding terms and conditions for your use of the website at <a href="{% url home %}">www.hacksy.co</a>. By using the service in any manner, including, but not limited to, visiting or browsing the Site or contributing content, information, or other materials or services to the site, you agree to be bound by this agreement.
				</p>

				<h2 class="margin" style="color:orange;">Foundamental Terms</h2>

				<p>
					You are responsible for any activity that occurs under your screen name. You are responsible for keeping your password secure. You must not abuse, harass, threaten, impersonate or intimidate other Hacksy users. You may not use the Hacksy service for any illegal or unauthorized purpose.</p>
				<p>
					You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the Hacksy service. You must not transmit any worms or viruses or any code of a destructive nature. Violation of any of these agreements will result in the termination of your Hacksy account. While Hacksy prohibits such conduct and content on its site, you understand and agree that Hacksy cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Hacksy service at your own risk.
				</p>

				<h2 class="margin" style="color:orange;">Content Ownership on Hacksy</h2>

				<p>
					Hacksy does not claim any ownership rights in the text, files, images, photos, video, sounds, musical works, works of authorship, applications, or any other materials (collectively, "Content") that you post on or through the Hacksy Services.
				</p>
				<p>
					You represent and warrant that: (i) you own the Content posted by you on or through the Hacksy Services or otherwise have the right to grant the license set forth in this section, (ii) the posting and use of your Content on or through the Hacksy Services does not violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person, and (iii) the posting of your Content on the Site does not result in a breach of contract between you and a third party. 

				</p>

				<p>
					Although the Site and other Hacksy Services are normally available, there will be occasions when the Site will be interrupted for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond the control of Hacksy. Also, although Hacksy will normally only delete Content that violates this Agreement, Hacksy reserves the right to delete any Content for any reason, without prior notice. Deleted content may be stored by Hacksy in order to comply with certain legal obligations and is not retrievable without a valid court order. Consequently, Hacksy encourages you to maintain your own backup of your Content.
				</p>

				<p>
					The above policies may be superseded by requirements or obligations imposed by statute, regulation, or legal process. If you have any questions or concerns regarding our usage agreement, please email us at <a href="mailto:founders@hacksy.co">founders@hacksy.co</a>.
				</p>

			</div>


		</div>
	</div>
</div>
{% endblock %}
