{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			
			<div class="row-fluid" style="margin-top:80px;">
				<div class="span12 centered glow"><h1>Hacksy</h1></div>
			</div>
			
			<div class="row-fluid box">
				<div class="span12 centered"><hr/><h3>About Us</h3><hr/></div>
			</div>		

			<div class="row-fluid">
				<div class="span12">
					<h2 class="" style="color:orange;">Our Team</h2>
						<p>
							We are a team of hackers with a passion for enabling poeple to easily share what they build with the world. Our offices are located in Berkeley, California.
						</p>
					<h2 class="margin" style="color:orange;">Contact Us</h2>
						<p>
							If you have any specific question or inquiry about Hacksy please send us an email at <a href="mailto:founders@hacksy.co">founders@hacksy.co</a>
						</p>					
				</div>
			</div>


		</div>
	</div>
</div>
{% endblock %}